<div class="box-1 ">
    <h3 class="one">We Technical Logistic Elaborators present's</h3>
    <h1 style="font-size: 70px; margin: 0%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; "class="two">Alternative Authentication Protocol (AAP)</h1>
    <h3 style="padding-bottom: 20px;" class="three">Which helps us to use OTP in low connectivity areas</h3>
    <a href="/SignInSignUP"><button type="button" class="btn btn-light" >SIGNIN/SIGNUP</button></a>
</div>