<%- include("partials/header"); -%>
<div class="otp-box">
    <section class="intro-2">
        <div class="feed-1">            
          <div class="feed_form ">
            <h2>Enter Your Otp</h2>
              <form name="google-sheet" method="post">
                  <input type="text" name="OTP" placeholder="Enter OTP"><br>
                  <button type="Submit">Submit</button><br>
                  
              </form>
          </div>
        </div>
    </section>
</div>

<%- include("partials/footer"); -%>