<%- include("partials/header"); -%>

<div class="box-4" id="signin">
      
  <section class="intro">
    <div class="feed">            
      <div class="feed_form ">
        <h2>SIGN IN</h2>
          <form name="google-sheet" method="post" action="/SignInSignUP">
              <input type="text" name="Username" placeholder="Username"><br>
              <input type="email" name="Email" placeholder="Email ID"><br>
              <input type="password" name="password" placeholder="Password"><br>
              
              <button type="Submit">Sign In</button><br>
              <p style="color: white;">Not a user ? <a href="/signup">SIGN UP</a></p>
          </form>
      </div>
  </div>
  </section>

</div>
<%- include("partials/footer"); -%>