<%- include("partials/header"); -%>
<div class="box">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          
            <a href="/" class="navbar-brand" ><img class="logo-img" src="/images/logo-2.png" width="150" height="80"></a>
    
            <ul class="nav navbar-nav navbar-right">
              <li id="home" ><a href="/" >HOME</a></li>
              <li id="ppt"><a href="/partials/slideshow">PRESENTATION</a></li>
              <li id="signin"><a href="/partials/SignInSignUP"><button type="button" class="btn btn-info">SIGNIN/SIGNUP</button></a></li>
            </ul>
            
        </div>
    </nav>
    
    <div class="box-5" style="padding-top: 200px;">
        <h1>Thank You For your Time</h1>
        
        </div>
</div>

<%- include("partials/footer"); -%>